@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-[#F7C04A] hover:bg-[#F2A601] text-center text-white font-semibold py-3 px-4 rounded-[20px];
  }

  .btn--disabled {
    @apply bg-[#D9D9D9] hover:bg-[#B4B4B4] text-center text-white font-semibold  py-3 px-4 rounded-[20px];
  }

  .btn-secondary {
    @apply bg-white hover:bg-[#F7C04A] focus:bg-[#F2A601] hover:border-none text-center text-white font-semibold py-3 px-4 rounded-[20px] border border-[#B4B4B4];
  }
}

/* - Firefox IE10 */
* {
  /* scrollbar-color: rgb(88, 89, 91) rgba(0, 0, 0, 0); */
  /* scrollbar-width: 4px; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* - Chrome Safari Edge */
*::-webkit-scrollbar {
  /* width: 4px !important; */
  width: 0 !important;
}

*::-webkit-scrollbar-thumb {
  /* background: rgb(88, 89, 91); */
  background: transparent !important;
  /* border-radius: 4px; */
}
*::-webkit-scrollbar-track {
  box-shadow: none !important;
  background: transparent;
}

*::-webkit-scrollbar-thumb:hover {
  /* background: rgb(138, 139, 141); */
  background: transparent !important;
}

/*
 * Disable scrollbar
 */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans Thai", sans-serif;
  background: #fefefb;
  height: 100%;
}
